.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 3px solid red;
  padding: 1rem;
}

.cart-item {
  display: flex;
  position: relative;
  align-items: center;
}

.item-color-box {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

.item-details {
  flex-grow: 1;
  margin-left: 0.75rem;
  font-size: 1.25rem;
}

.item-details-checkout {
  flex-grow: 1;
  margin: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.price-sm {
  font-size: 0.875rem;
}

.price-lg {
  font-size: 1.125rem;
}

.remove-button-wrapper {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

.amount-controls {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 0.5rem;
  right: 0.75rem;
}

.amount-controls button,
.remove-button {
  background-color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.amount-controls button:hover,
.remove-button:hover {
  background-color: #eee;
}
