.products-section {
  /* background-color: var(--color-background); */
  font-family: var(--font-primary);
  padding: 2rem;
  margin-bottom: 2rem;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-secondary);
  letter-spacing: 0.1em;
}
.section-title h1{
  margin-bottom: 1rem;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  gap: 5rem;
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr; /* Single column on very small screens */
  }

}
