.product-card {
  border-radius:var( --radius );
  padding: 2rem;
  color: var( --color-accent );
  background-color: var( --color-primary );
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-top: 1.5rem;
  /* balance the products title css bug */

}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

}

.product-card:hover .product-info{
  display: block;
}
.product-image-wrapper{
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
padding: 1rem;
background-color: black;
border-radius: var( --radius );

}

.product-img {
max-width: 20rem;

}

.product-info {
  position:absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display:none;
  border-radius: var( --radius );
  padding: 2rem;
  background-color: var( --color-secondary );
  color: var(--color-text-on-dark);
  
}
.product-info p{
font-size: 1.7rem;
font-weight: 500;

  color:var(--color-accent);
}
.product-heading{
  font-size: 2.5rem ;

  color: var( --color-text);
}
.product-name {
  text-wrap: wrap;
  text-align: left;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: var( --color-accent );
}

.product-description {
  font-size:0.75rem;
  line-height: 1.4;
  margin: 0 0 20px 0;
  opacity: 0.9;
  color: var( --color-secondary );
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}

@media(max-width:480px){
  .product-img{

width: 100%;
  }
}
.product-price {
  font-size:1rem;
  font-weight: 600;
  color: var( --color-text-on-dark );
  margin: 0%;
  text-align: start;
}
.product-price-wrapper{
}

.product-heading {
  font-size: clamp(1.5rem, 2vw, 2.5rem);

}
.product-name {
  font-size: clamp(1rem, 1.5vw, 1.75rem);
}
.product-description {
  font-size: clamp(0.75rem, 1vw, 1rem);
}
.product-price {
  font-size: clamp(0.85rem, 1vw, 1.25rem);
}
.product-info p {
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  color: var(--color-primary);
}