.product-card {
  border-radius: 2rem;
  padding: 2rem;
  color: white;
  background-color: burlywood;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

}

.product-card:hover .product-info{
  display: block;
}
.product-image-wrapper{
  /* height: 120px; */
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
background-color: aqua;
padding: 1rem;
}

.product-img {
  width: 20rem;
  /* background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center; */
}

.product-info {
  position:absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: red;
  display:none;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  
}
.product-info p{
font-size: 2rem;
font-weight: 500;

}
.product-heading{
  font-size: 2.5rem ;

}
.product-name {
  text-align: left;
  background-color: red;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: white;
}

.product-description {
  font-size:0.75rem;
  line-height: 1.4;
  margin: 0 0 20px 0;
  opacity: 0.9;
  color: white;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
}

.product-price {
  font-size:1rem;
  font-weight: 600;
  color: white;
}


@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-title {
    font-size: 24px;
  }
}
