
.container {
  overflow: hidden;
  display: flex;
position:absolute;
bottom: 0px;
left: 0px;
right:0px;
}

.scroller {
  display: flex;
  width: fit-content;
  background-color: blue;
  will-change: transform; /* for better performance */
}

.scroll-text {
  margin: 0 2.5rem;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  padding: 0.25rem;
}
