.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fce5c0;
  padding: 3rem 2rem;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 100px;
}

.hero-text {
  flex: 1;
  max-width: 50%;
  padding-left: 200px;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3b2a1a;
}

.hero-text p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 1.5rem;
  color: #5a4634;
}

.explore-btn {
  background-color: #6b4f3b;
  color: white;
  font-size:medium;
  border: none;
  padding: 1.0rem 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 15px;
}

.explore-btn:hover {
  background-color: #4b3523;
}

.hero-image {
  flex: 1;
  text-align: right;
  padding-right: 180px;
  margin: 50px;
}

.hero-image img {
  max-width: 60%;
  height: 60%;
  
}
