.navbar {
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;
  background-color: #8D7452;
  padding: 0.75rem 2rem; /* tighter vertical space */
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 10px auto; /* center navbar horizontally */
  border-radius: 10px;
  box-sizing: border-box;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  font-size: large;
  gap: 1.5rem;
  margin-right: 200px;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ffdab9;
}
