.scroll-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
gap: 2rem;
padding-bottom: 20rem;
}

.card-wrapper{
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
align-items: flex-start
}

.topic-wrapper{
  position:absolute;
  z-index: 1;
  top:10%;
  right: 0%;
  left: 0%;
  background-color: aqua;
  display: flex;
  justify-content: center;
}
.topic-text h3,.topic-text h2{
 padding: 0rem  3rem;
  
}
.topic-text h2{
  font-size: 2.5rem;
}
.topic-text h3{
  font-size: 1.5rem;
}