.scroll-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
gap: 2rem;
padding: 20rem 20rem ;
margin-top: 2rem;
padding-top :0rem ;
}

.card-wrapper{
  display: flex;
}

.topic-wrapper{
  position:absolute;
  z-index: 1;
  top:10%;
  right: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
}
.topic-text{
  transition: 0s;
  text-align: center;
}
.topic-text h3,.topic-text h2{
 /* padding: 0rem  3rem; */
 margin: 0px;
  
}
.topic-text h2{
  font-size: 2.5rem;
}
.topic-text h3{
  font-size: 1.5rem;
}
.benefits-svg-icons{
  max-width: 100px;
  max-height: 130px;
}
/* @media (max-width: 1200px) {
.scroll-wrapper{
  padding: 7rem 7rem;
}
} */

/* Large desktops - 1536px and below */
@media (max-width: 1536px) {
  /* Styles for large desktops */
}

/* Standard desktops - 1280px and below */
@media (max-width: 1280px) {
.scroll-wrapper{
 padding: 20rem 5rem;
padding-top :0rem ;
}
}

/* Laptops / Tablets (landscape) - 1024px and below */
@media (max-width: 1024px) {
 .scroll-wrapper{
 padding: 20rem 2rem;
padding-top :0rem ;
} /* Styles for tablets in landscape or small laptops */
}

/* Tablets (portrait) - 768px and below */
@media (max-width: 768px) {
 /* .topic-text h2{
  font-size: 2rem;
}
.topic-text h3{
  font-size: 1rem;

} */
}

/* Phones (landscape) - 600px and below */
@media (max-width: 600px) {
  /* Styles for phones in landscape orientation */
}

/* Phones (portrait) - 480px and below */
@media (max-width: 480px) {
  /* Styles for most smartphones */
}

/* Very small phones or watches - 375px and below */
@media (max-width: 375px) {
  /* Styles for small phones like iPhone SE */
}
