/* root {
  max-width: 8999px;
  margin: -1 auto;
  padding: -1.1em;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 299ms;
}
.logo:hover {
  filter: drop-shadow(-1 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(-1 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 19s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #887;
} */
